<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
<div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.nav %>
  <div class="l-data-methods">
    <div class="wrap">
      <div class="cut -top"></div>
      <div class="c-anchor-list js-anchor-nav">
        <ul class="anchor-list">
          <li class="anchor-item -selected">
            <a href="#supply-chain-mapping">Supply chain mapping in Trase</a>
          </li>
          <li class="anchor-item -selected">
            <a href="#SEI-PCS-unique">What makes SEI-PCS unique?</a>
          </li>
          <li class="anchor-item">
            <a href="#data-sources">Data sources</a>
          </li>
          <li class="anchor-item">
            <a href="#commodities-countries">What commodities and countries does Trase cover?</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h1 class="title -big -pink">Data and methods</h1>
        <p class="paragraph">
          The data and methods used in Trase are being improved constantly as we develop better methodologies and
          identify new data sources. Trase will continue to improve the quality and accuracy of its data, and is
          committed to communicating these limitations transparently, including on this website and via reports and
          peer-reviewed publications.
        </p>

        <h2 id="supply-chain-mapping" class="title -anchor -medium -pink">Supply chain mapping in Trase</h2>
        <p class="paragraph">
          The Trase initiative is an independent, impartial and science-based provider of decision relevant information
          needed to support a transition to a deforestation-free economy. Trase is at the forefront of a data-driven
          revolution in supply chain sustainability, drawing on vast sets of production, trade and customs data, for the
          first time laying bare the flows of globally traded commodities at scales that are directly relevant to
          decision-making. Its pioneering approach to data analysis and visualization provides full coverage of the
          export routes and buyers responsible for all production and trade, and the associated sustainability risks, of
          a given commodity.
        </p>
        <p class="paragraph">
          The supply chain mapping at the core of Trase balances scale and data resolution. It does not yet go down to
          the level of individual farms or of individual consumer products or retailers. However, Trase is able to map
          commodity supply chains in their entirety, covering entire countries and farming sectors (e.g. Brazilian soy)
          at jurisdictional scales that are relevant to local decision-making (e.g. municipalities in Brazil).
        </p>
        <p class="paragraph">
          Trase maps the entire middle section of a supply chain, linking regions of production to countries of import,
          via the individual companies that export and import a particular traded commodity. This builds on an enhanced
          form of material flow analysis that was first published by Godar et al. (2015): the Spatially Explicit
          Information on Production to Consumption Systems (SEI-PCS) approach. Different versions of SEI-PCS have been
          developed since 2015 and have been used in different Trase releases.
        </p>
        <p class="paragraph">
          More detailed arguments regarding the advantages of the ‘middle-ground’ material-flow supply chain mapping
          approach can be found in Godar et al. (2016). An example application to the assessment of virtual water flows
          embedded in Brazilian farming exports can be found in Flach et al. (2016).
        </p>
        <p class="paragraph">
          Before applying SEI-PCS to a specific country and commodity, we publish national-level export data on <a
                  href="/" class="content-link" target="_blank">trase.earth</a>, linking countries of
          production to downstream traders and countries of import. This higher-level analysis provides a
          coarser-grained analysis of material flows and associated sustainability impacts, risks and performance
          measures at national level, as well as an entry point for more detailed work on poorly studied geographies and
          sectors.
        </p>
        <p class="paragraph">
          We then apply the SEI-PCS approach to map subnational trade flows, discriminating producer regions down to the
          lowest level of government administrative unit the data and the complexity of the supply chain allow. Often
          this is defined by the availability of production data at subnational scales. A third level, linking flows to
          the actual production farms may be possible but the core focus of Trase is on mapping to sub-national regions
          of production.
        </p>
        <p class="paragraph">
          If you are interested in more detail please read our manual on the <a
                  href="http://resources.trase.earth/documents/Trase_supply_chain_mapping_manual.pdf"
                  class="content-link" target="_blank">supply
            chain
            mapping methods</a> (SEI-PCS) that underpin Trase, as well as a <a
                  href="http://resources.trase.earth/documents/SEI-PCS_2_2_Factsheet.pdf" class="content-link"
                  target="_blank">factsheet</a> (PDF) on the latest
          version of
          the SEI-PCS model for Brazilian soy.
        </p>

        <h2 id="SEI-PCS-unique" class="title -anchor -medium -pink">What makes SEI-PCS unique?</h2>
        <p class="paragraph">
          Three capabilities of SEI-PCS together set it apart from other approaches to supply chain mapping:
        </p>
        <ul>
          <li class="paragraph">
            It systematically links individual supply chain actors to specific production regions, and the
            sustainability risks and investment opportunities associated with those regions. In Brazil, SEI-PCS is able
            to link actors to individual producing municipalities, the country’s smallest administrative unit. The finer
            the scale of these production regions, the more effectively Trase can differentiate the specific
            environmental, social and governance conditions associated with production and trade.
          </li>
          <li class="paragraph">
            It names the individual companies that export, ship and import a given traded commodity.
          </li>
          <li class="paragraph">
            It covers all of the exports of a given commodity from a given country of production, ensuring that
            shifts in the sourcing patterns – and associated social and environmental impacts and risks – of a
            particular buyer or trader can be tracked and assessed over space and time.
          </li>
        </ul>
        <p class="paragraph">
          The uniquely broad coverage of the Trase supply chain maps means that users can prioritize the places and
          actors that warrant the greatest attention and only invest in acquiring further detail, including on the
          individual producers and consumers that are not mapped by Trase, where it is really needed.
        </p>


        <h2 id="data-sources" class="title -anchor -medium -pink">Data sources</h2>
        <p class="paragraph">
          Central to the SEI-PCS approach is the use of multiple independent datasets to “triangulate” flows of traded
          commodities from regions of production via trading companies to countries of import. Trase uses data that was
          collected for other purposes, such as customs records and trade contracts, tax registration data, and
          production data. Trase is one of the first initiatives to make systematic use of per-shipment customs and
          shipping data for sustainability research. The SEI-PCS approach is highly flexible and can be adapted to
          include new datasets that can help add further detail and/or provide additional validation for individual
          material flows.
        </p>
        <p class="paragraph">
          Trase uses no private or confidential information. All data sources are either publicly available (including
          from government and industry websites as well as repositories) or available for purchase (such as from trade
          intelligence companies and government repositories). Where we have used purchased data to map supply chains of
          a specific commodity, such as per-shipment customs declarations or bills of lading, this data is masked
          alongside multiple other data sources in the SEI-PCS data model and is aggregated in a way that makes it
          impossible to reverse engineer the raw data.
        </p>
        <p class="paragraph">
          A description of all the data sources currently used in Trase, and their sources, can be found <a
                  href="http://resources.trase.earth/documents/Trase-data-sources_release_oct_2017.pdf"
                  class="content-link"
                  target="_blank">here</a> (PDF).
        </p>

        <h2 id="commodities-countries" class="title -anchor -medium -pink">What commodities and countries does Trase
          cover?</h2>
        <p class="paragraph">
          Over the next five years Trase aims to cover over 70% of the total traded volume of major forest-risk
          commodities that originate in the tropics. These include soy, beef, palm oil, timber, pulp and paper, coffee,
          cocoa and aquaculture products.
        </p>
        <p class="paragraph">
          From 2017, Trase will focus first on expanding to include all South American soy, and initiating new
          programmes of work on beef in Argentina, Brazil and Paraguay; palm oil in Indonesia and Colombia; and coffee
          in Colombia. Additional countries and commodities will be added in subsequent years based on capacity and
          funding opportunities.
        </p>
        <p class="paragraph">
          While the modelling framework and decision logic that underpin SEI-PCS are transferable between different
          commodities and countries, each version of SEI-PCS is highly tailored to the specific context, requiring
          detailed knowledge of national production, logistics, taxation and other commodity-country-specific data. To
          learn about plans for SEI-PCS and Trase expansion to other countries and commodities please <a
                  href="/#newsletter" class="content-link" target="_blank">sign up</a> for our newsletter.
        </p>
      </div>
    </div>
    <div class="cut -bottom"></div>
  </div>
  <%= htmlWebpackPlugin.options.footer %>
</div>

<%= htmlWebpackPlugin.options.scripts %>
<%= htmlWebpackPlugin.options.feedback %>

</body>
</html>
