 <div class="loading-wrapper">
    <%= nav %>
    <div class="l-profile-actor js-profiles">
      <div class="js-loading">
        <div class="c-spinner"></div>
      </div>
      <div class="js-wrap is-hidden">
        <div class="c-overall-info">
          <div class="row">
            <div class="small-12 columns">
              <div class="dropdown-element">
                <div class="c-dropdown" data-dropdown="name">
                  <span class="dropdown-label js-legend">-</span>
                  <span class="js-dropdown-title dropdown-title js-name">-</span>
                  <ul class="js-dropdown-list dropdown-list is-hidden">
                  </ul>
                </div>
              </div>
              <div class="dropdown-element">
                <div class="c-dropdown" data-dropdown="country">
                  <span class="dropdown-label">Country</span>
                  <span class="js-dropdown-title dropdown-title js-country">-</span>
                  <ul class="js-dropdown-list dropdown-list is-hidden">
                  </ul>
                </div>
              </div>
              <div class="dropdown-element">
                <div class="c-dropdown" data-dropdown="commodity">
                  <span class="dropdown-label">Commodity</span>
                  <span class="js-dropdown-title dropdown-title">Soy</span>
                  <ul class="js-dropdown-list dropdown-list">
                  </ul>
                </div>
              </div>
              <div class="dropdown-element">
                <div class="c-dropdown -active" data-dropdown="year">
                  <span class="dropdown-label">Year</span>
                  <span class="js-dropdown-title dropdown-title">2015</span>
                  <ul class="js-dropdown-list dropdown-list">
                    <li class="dropdown-item" data-value="2010">2010</li>
                    <li class="dropdown-item" data-value="2011">2011</li>
                    <li class="dropdown-item" data-value="2012">2012</li>
                    <li class="dropdown-item" data-value="2013">2013</li>
                    <li class="dropdown-item" data-value="2014">2014</li>
                    <li class="dropdown-item" data-value="2015">2015</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-12 columns">
              <div class="stat-item js-zero-deforestation-commitment">
                <div class="legend">ZERO DEFORESTATION COMMITMENT</div>
                <div class="value is-hidden" data-value="yes"><svg class="icon icon-check"><use xlink:href="#icon-check-circle"/></svg>Yes</div>
                <div class="value is-hidden" data-value="no"><svg class="icon icon-no"><use xlink:href="#icon-no-circle"/></svg>No</div>
              </div>
              <div class="stat-item">
                <div class="legend">FOREST 500 SCORE</div>
                <div class="value js-forest-500-score">
                  <svg class="icon circle-icon" data-value="1"><use xlink:href="#icon-circle-empty"/></svg>
                  <svg class="icon circle-icon" data-value="2"><use xlink:href="#icon-circle-empty"/></svg>
                  <svg class="icon circle-icon" data-value="3"><use xlink:href="#icon-circle-empty"/></svg>
                  <svg class="icon circle-icon" data-value="4"><use xlink:href="#icon-circle-empty"/></svg>
                  <svg class="icon circle-icon" data-value="5"><use xlink:href="#icon-circle-empty"/></svg>
                </div>
              </div>
            </div>
            <div class="small-7 columns">
              <div class="summary js-summary-text"></div>
            </div>
          </div>
        </div>

        <div class="c-anchor-buttons">
          <div class="row">
            <div class="small-4 columns">
              <a href="#profile-content-anchor" class="c-link-buttons -with-arrow js-link-profile">
                <img src="/images/profiles/profile-main-option-1.svg"/>
                <span class="js-link-button-name">-</span>
              </a>
            </div>
            <div class="small-4 columns">
              <a href="" class="c-link-buttons js-link-map">
                <img src="/images/profiles/profile-main-option-2.svg"/>
                PRODUCTION REGIONS
                <svg class="icon icon-external-link"><use xlink:href="#icon-external-link"></use></svg>
              </a>
            </div>
            <div class="small-4 columns">
              <a href="" class="c-link-buttons js-link-supply-chain">
                <img src="/images/profiles/profile-main-option-3.svg"/>
                SUPPLY CHAIN ACTORS
                <svg class="icon icon-external-link"><use xlink:href="#icon-external-link"></use></svg>
              </a>
            </div>
          </div>
        </div>

        <div id="profile-content-anchor" class="profile-content-anchor"></div>

        <section class="c-top-map">
          <div class="row">
            <div class="small-<%=printMode ? '6' : '8' %> columns">
              <h3 class="title -small js-top-map-title">-</h3>
            </div>
            <div class="small-<%=printMode ? '6' : '8' %> columns">
              <div class="js-destination-legend"></div>
            </div>
            <div class="small-6 columns">
              <div class="c-line js-top-destination"></div>
            </div>
            <div class="small-6 columns js-top-destination-map"></div>
          </div>
        </section>

        <section class="c-top-municipalities is-page-break-always">
          <div class="row">
            <div class="small-<%=printMode ? '6' : '8' %> columns">
              <ul class="title -small js-top-municipalities-title">-</ul>
            </div>
            <div class="small-<%=printMode ? '6' : '8' %> columns">
              <div class="js-source-legend"></div>
            </div>
            <div class="small-7 columns">
              <div class="c-line js-top-municipalities"></div>
            </div>
            <div class="small-5 columns js-top-municipalities-map"></div>
          </div>
        </section>

        <section class="c-area-table is-page-break-always">
          <div class="row">
            <div class="small-12 columns">
              <div class="js-sustainability-table"></div>
            </div>
          </div>
        </section>

        <section class="c-scatterplot">
          <div class="row">
            <div class="small-12 columns" style="position: relative">
              <h3 class="js-scatterplot-title title -small">-</h3>
              <div class="js-companies-exporting-y-axis axis-legend"></div>
              <div class="js-companies-exporting"></div>
              <ul class="c-scatterplot-switcher js-scatterplot-switcher"></ul>
            </div>
          </div>
        </section>

      </div>
      <div class="c-error-message js-error-message is-hidden">
        <p class="message js-message">Data not found</p>
      </div>
    </div>
    <div class="js-infowindow c-info-tooltip is-hidden"></div>
    <%= footer %>
   <%= feedback %>
 </div>
