<% Object.keys(data).forEach(function (i) { %>
  <li class="js-scatterplot-switcher-item <%= i === "0" ? 'selected' : null %> <%= data[i].unit !== null ? 'unit' : null %>" data-key="<%= i %>">
    <span data-unit="<%= data[i].unit !== null ? data[i].unit : null %>"><%= data[i].name %></span>
  </li>
<%});%>
