<div class="bucket-container js-bucket-legend <%= cssClass %>" >
  <div class="bucket-names" >
    <div class="layer-name" ><%= title[0] %></div >
    <div class="layer-name" ><%= title[1] %></div >
  </div >
  <ul class="bucket-legend">
    <% Object.values(colors).forEach(function(color, i) { %>
      <% if (isBivariate) {%>
        <% Object.values(color).forEach(function(bivariateColor, j) { %>
          <li class="bucket-item" >
            <div class="bucket color-<%= bivariateColor.substr(1).toLowerCase() %>" style="background-color: <%= bivariateColor %>" >
              <% if (!isBivariate && typeof bucket !== "undefined" && bucket !== null) { %>
                <span ><%= abbreviateNumber(bucket[0][j], 3, j) %></span >
              <% } %>
            </div >
          </li >
        <% }) %>
      <% } else { %>
        <li class="bucket-item" >
          <div class="bucket color-<%= color.substr(1).toLowerCase() %>" style="background-color: <%= color %>" >
            <% if (!isBivariate && typeof bucket !== "undefined" && bucket !== null) { %>
              <span ><%= abbreviateNumber(bucket[0][i], 3, i) %></span >
            <% } %>
          </div >
        </li >
      <% } %>
    <% }) %>
  </ul >

  <% if (isBivariate && typeof bucket !== "undefined" && bucket[0] !== null && bucket[1] !== null) { %>
    <ul class="bucket-values" >
      <% bucket[0].reverse().forEach(function(value) { %>
        <li ><%= abbreviateNumber(value, 3) %></li >
      <% }) %>
      <% bucket[1].reverse().forEach(function(value) { %>
        <li ><%= abbreviateNumber(value, 3) %></li >
      <% }) %>
    </ul >
  <% } %>

  <div class="js-choro-arrow unidimensional-legend-arrow">
  </div>
  <svg class="icon icon-bidimensional-legend-arrows" >
    <use xlink:href="#icon-bidimensional-legend-arrows" ></use >
  </svg >

  <ul class="bullets" >
    <li >
      <div class="bullet color-dfdfdf" style="background:#DFDFDF" ></div >
      N/A
    </li >
    <li >
      <div class="bullet color-ffffff" style="background:#ffffff" ></div >
      0
    </li >
  </ul >
</div >
