<div class="<%= (page === 'index') ? 'c-nav -home' : 'c-nav' %>">
  <div class="row column">
    <nav>
      <div class="left-side">
        <% if (page !== 'index') { %>
        <div class="nav-item">
          <a data-route="home" class="nav-link js-nav-link">HOME</a>
        </div>
        <% } %>
        <div class="nav-item -has-menu">
          <a data-route="tool" class="nav-link js-nav-link">TOOL</a>
          <ul class="nav-submenu">
            <li class="nav-submenu-item">
              <a data-route="tool" class="nav-link js-nav-link">SUPPLY CHAIN ACTORS</a>
            </li>
            <li class="nav-submenu-item">
              <a data-route="tool" data-route-query="isMapVisible=true" class="nav-link js-nav-link">PRODUCTION
                REGIONS</a>
            </li>
          </ul>
        </div>
        <div class="<%= page.indexOf('profile') !== -1 ? 'nav-item -selected' : 'nav-item' %>">
          <a data-route="profiles" class="nav-link js-nav-link">PROFILES</a>
        </div>
        <div class="<%= page === 'data' ? 'nav-item -selected' : 'nav-item' %>">
          <a data-route="data" class="nav-link js-nav-link">DATA</a>
        </div>
        <div class="<%= page === 'about' ? 'nav-item -selected' : 'nav-item' %> -has-menu">
          <a data-route="about" class="nav-link js-nav-link">ABOUT</a>
          <ul class="nav-submenu">
            <li class="nav-submenu-item">
              <a data-route="termsOfUse" class="nav-link js-nav-link">TERMS OF USE</a>
            </li>
            <li class="nav-submenu-item">
              <a data-route="dataMethods" class="nav-link js-nav-link">DATA AND METHODS</a>
            </li>
            <li class="nav-submenu-item">
              <a data-route="faq" class="nav-link js-nav-link">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-side">
        <% if (page === 'index') { %>
        <div class="nav-item -logo">
          <a class="nav-logo" target="_blank" href="https://www.sei-international.org/">
            <img class="logo-img -sei -light" src="/images/logos/SEI@2x.png" alt="SEI
            International">
            <img class="logo-img -sei -dark" src="/images/logos/SEI-dark@2x.png" alt="SEI
            International">
          </a>
        </div>
        <div class="nav-item -logo">
          <a class="nav-logo" target="_blank" href="https://www.globalcanopy.org/">
            <img class="logo-img -gcp -light" src="/images/logos/GCP@2x.png" alt="Global Canopy
            Programme">
            <img class="logo-img -gcp -dark" src="/images/logos/GCP-dark@2x.png" alt="Global
            Canopy Programme">
          </a>
        </div>
        <% } %>
        <% if (page === 'profile-actor' || page === 'profile-place') { %>
        <div class="nav-item js-download-pdf">
          <svg class="icon">
            <use xlink:href="#icon-download-pdf"></use>
          </svg>
        </div>
        <% } %>
      </div>
    </nav>
  </div>
</div>
<div class="<%= (page === 'index') ? 'c-nav-spacer -home' : 'c-nav-spacer' %>"></div>
