<%= form_tag(admin_database_update_start_path, multipart: true) do %>
  <% if current_update %>
    Update in progress
    <% if current_update.jid %> (JID: <%= current_update.jid %>)<% end %>
  <% end %>
  <% if database_updates.any? %>
    <h3>Previous updates:</h3>
    <table class="index_table">
      <thead>
        <th class="col" style="width:7%">Started</th>
        <th class="col" style="width:7%">Finished</th>
        <th class="col" style="width:5%">Status</th>
        <th class="col" style="width:35%">Stats (for FINISHED updates)</th>
        <th class="col">Error (for FAILED updates)</th>
      </thead>
      <tbody>
        <% database_updates.each do |du| %>
          <tr>
            <td><%= du.created_at %></td>
            <td><%= du.finished_at %></td>
            <td><%= du.status %></td>
            <td>
              <% du.stats_to_ary.each do |l| %>
                <%= l %><br>
              <% end %>
            </td>
            <td><%= du.error %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= submit_tag 'Start database update', disabled: current_update.present? %>
  Please note: this will queue an update and return immediately, but the update is likely to take a while.
<% end %>
