<%= form_tag(admin_database_update_start_path, multipart: true) do %>
  <% if current_update %>
    Update in progress
    <% if current_update.jid %> (JID: <%= current_update.jid %>)<% end %>
  <% end %>
  <% if database_updates.any? %>
    <h3>Previous updates:</h3>
    <table>
      <thead>
        <th>Started</th>
        <th>Finished</th>
        <th>Status</th>
        <th>Stats (for FINISHED updates)</th>
        <th>Error (for FAILED updates)</th>
      </thead>
      <tbody>
        <% database_updates.each do |du| %>
          <tr>
            <td><%= du.created_at %></td>
            <td><%= du.updated_at %></td>
            <td><%= du.status %></td>
            <td><%= du.stats_to_s %></td>
            <td><%= du.error %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= submit_tag 'Start database update', disabled: current_update.present? %>
  Please note: this will queue an update and return immediately, but the update is likely to take a while.
<% end %>
