<div>
  <% if current_update %>
    <h3>Update in progress</h3>
    <% if current_update.jid %> (JID: <%= current_update.jid %>)<% end %>
  <% end %>

  <p>Status of currently running and errored backround operations can be monitored <%= link_to 'here', sidekiq_web_url %>.</p>
</div>

<% if database_updates.any? %>
  <h3>Previous updates:</h3>
  <table class="index_table">
    <thead>
      <th class="col">Filename</th>
      <th class="col">Started</th>
      <th class="col">Finished</th>
      <th class="col">Status</th>
      <th class="col" style="width:30%">Stats (for FINISHED updates)</th>
      <th class="col" style="width:30%">Error (for FAILED updates)</th>
    </thead>
    <tbody>
      <% database_updates.each do |du| %>
        <tr>
          <td><%= du.filename %></td>
          <td><%= du.created_at %></td>
          <td><%= du.finished_at %></td>
          <td><%= du.status %></td>
          <td>
            <% du.stats_to_ary.each do |l| %>
              <%= l %><br>
            <% end %>
          </td>
          <td><%= du.error %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
